/* Genel Stil */
body {
  margin: 0;
  padding: 0;
  font-family: 'Miriam Libre', sans-serif;
  background-color: #FFFFFF;
  color: #000000;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  /* Sayfa taşmalarını gizle */
}

#content-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.content-block {
  position: absolute;
  /* Manuel konumlandırma için */
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  /*box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  /* Taşan içeriği gizler */
}

.content-block img,
.content-block video {
  width: 100%;
  /* Blok genişliğine uyum sağlar */
  height: 100%;
  /* Blok yüksekliğine uyum sağlar */
}

.content-block p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
}